body {
    font-size: 22px;
    border: 3px solid black;
}

h1, h2 {
    color: blue;
}

.gray {
    color: gray;
}

p {
    color: purple;
}

* {
    border: 1px solid red;
    /* apply to all elements in the document. */
}

/* Typography inherits all. But some things dont inherit(like border.)
 Form elements dont inherits, but you can specify it. */

button, input, textarea, select {
    font: inherit;
}

main {
    font-family: monospace;
}

/* !important -> overrides everything. Dont use it often */