@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

main {
  background-color: aqua;
}

p {
  background-color: lightgray;
  /* 100% width of the element takes that color (of given width.) 
  And they stack each other. */
}

.opposite {
  display: inline-block;
  background-color: #333;
  color: whitesmoke;
  /* span is default inline element. It only takes length of the text */
  /* You cant apply top-bottom margin to the inline elements. */
  /* height cant be applied. */
  padding: 4rem;
  /* inline-block is kinda hybrid. */
}



ul {
  list-style-type: none;
  padding: 0.5rem;
  text-align: right;
  background-color: black;
  margin: 0;
}

li {
  display: inline-block;
  margin-inline: 0.5rem;
}

li a {
  color: white;
  text-decoration: none;

}

li a:hover, li a:focus {
  text-decoration: underline;
}